{% load django_bootstrap5 %} {%load static%}
<html>
  <head>
      <link rel="icon" href="{% static '/images/cipher_4.png' %}" type="image/gif" sizes="16x16">
<link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet'>
    <meta charset="utf-8">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
      <title>Cipher Developers And Services<</title>
    {% endif %}

  </head>
  <body>
  {%include 'navbar.html'%}
    {%block content %}
    {%endblock%}
    <br>

    {% block scripts %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% endblock %}
  </body>
</html>